ion-modal {
  --height: 70%;
  --min-height: 70%;
  --max-height: 70%;
}

.locationModalWrapp{
  --height:60%;
  --min-height:60%;
  --max-height:60%;
}
.filterModalWrapp{
  --height:95%;
  --min-height:95%;
  --max-height:95%;
}


