
ion-modal {
  --height: 70%;
  --min-height:70%;
  --max-height:70%;
  --width:96%;
  align-items: end;
  --border-radius:10px;
  bottom: -10px;
}

  ion-modal {
 h4{font-size: 1rem;}
    ion-avatar {
      margin-right: 10px;
      width: 38px;
      height: 38px;

     ion-img {
        width: 16px;
        height: 16px;
      }
    }
    .ion-modal-heading{border-bottom:solid 1px #EDEDED; padding-bottom:10px; 
    margin-bottom:20px;}

    .contentBlockModal{margin-top:30px;}
    .submitClass{color: #000;}

    ion-buttons{
      ion-button{
      font-weight:600;
      }
    }
  }

