<div class="ion-float-right ion-header-Right">
  <ion-text class="ion-float-left">Dubai</ion-text>
  <ion-button (click)="setOpen(true)"><ion-img src="../../assets/images/map-icon.svg"></ion-img></ion-button>
  <ion-button><ion-img class="filterIcon" src="../../assets/images/filter-icon.svg"></ion-img></ion-button>
</div>




 
  <ion-modal [isOpen]="isModalOpen">
    <ng-template> 
      <ion-content class="ion-padding">
        <div class="ion-modal-heading fillingListWrapp">
          <ion-item class="list-item ion-no-padding" lines="none">
            <ion-avatar slot="start" class="avatar-icon">
              <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
            </ion-avatar>
            <ion-text>
              <h4>TS12345674</h4>
              <p>Truck Number</p>
            </ion-text>
          </ion-item>
        </div>
        <ion-list>
          <ion-item>
            <ion-input label="Floating label" labelPlacement="floating" placeholder="Location"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar>         
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>      
    </ng-template>
  </ion-modal>
