<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-float-left">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bgWrapp porfileWrapp m-top">
  <div class="porfileUserblock">
    <div class="porfilePosition">
      <ion-icon class="personIcon" name="person-outline"></ion-icon>
      <ion-button class="editBt"><ion-img src="../../assets/images/edit-icon.svg"></ion-img></ion-button>
    </div>
  </div>

  <ion-card>
    <div class="porfileCardSapce">
     <ion-text>
        <h1>{{userFirstName}} {{userLastName}}</h1>
        <h6>JCB Driver</h6>
      </ion-text>


      <ion-button fill="solid" shape="round" expand="block" class="whiteBt" routerLink="/">Change Password</ion-button>
      <div class="changeLanguageRadio">
        <h4>Change Language</h4>
        <ion-radio-group [value]="selectedLang">
          <div class="selectedLangRadio">
            <ion-item lines="none" class="no-ripple">            
              <ion-radio aria-label="en" value="en" justify="start">English</ion-radio>
            </ion-item>
          </div>

          <div class="selectedLangRadio">
            <ion-item lines="none" class="no-ripple">             
              <ion-radio aria-label="ar" value="ar" justify="start">Arabic</ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </div>
    </div>


      <ion-buttons class="logoutBlock">
        <ion-button color="secondary" fill="outline" shape="round" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon> Logout
        </ion-button>
      </ion-buttons>


  </ion-card>
</ion-content>


<app-fotterbuttons></app-fotterbuttons>
