<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-float-left">Rejected List</ion-title>
    <div class="ion-float-right ion-header-Right">
      <app-headerbuttons></app-headerbuttons>     
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bgWrapp fillingListWrapp">

    <ng-template [ngIf]="rejectedListData && rejectedListData.length === 0">
      <app-nodata></app-nodata>
    </ng-template>

    <ng-template [ngIf]="rejectedListData && rejectedListData.length > 0">
  <div class=" ">
    <!-- (click)="cardClickAction()" -->
    <ion-card [button]="true"  *ngFor="let data of rejectedListData">
      <ion-card-content>
        <ion-item lines="none" class="list-item ion-no-padding"  detail="true">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/rejected-truck-icon.svg"></ion-img>
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <div class="ion-col-border-right">
                  <ion-text>
                    <h4>{{data.truck_number}}</h4>
                  <p>Truck Number</p>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="truckTypeLeft">
                  <ion-text>
                    <h4 class="secondaryColor">{{data.truck_type}}</h4>
                  <p> Truck Type</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> 
      </ion-card-content>
    </ion-card>
  </div>
</ng-template>
</ion-content>

<app-fotterbuttons></app-fotterbuttons>