<ion-footer class="ionFooter">
  <ion-toolbar>
    <ion-row>
      <ion-col [routerLink]="['/home']" class="activeFotter">
        <div class="ionImg"><ion-img class="filling-truck-icon" src="../../assets/images/filling-truck-icon.svg"></ion-img></div>
        <ion-text>Filling</ion-text>
      </ion-col>
  
      <ion-col [routerLink]="['/completedlist']">
        <div class="ionImg"><ion-img class="completed-truck-icon" src="../../assets/images/completed-truck-icon.svg"></ion-img></div>
        <ion-text>Completed</ion-text>
      </ion-col>
  
      <ion-col [routerLink]="['/rejectedlist']">
        <div class="ionImg"><ion-img class="completed-truck-icon" src="../../assets/images/rejected-truck-icon.svg"></ion-img></div>
        <ion-text>Rejected</ion-text>
      </ion-col>
  
      <ion-col [routerLink]="['/profile']">
        <div class="ionImg"><ion-img class="profile-icon" src="../../assets/images/profile-icon.svg"></ion-img></div>
        <ion-text>Profile</ion-text>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>