<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-float-left">Filling List</ion-title>   
    <div class="ion-float-right ion-header-Right">
    <app-headerbuttons></app-headerbuttons>

   
   <ion-text  class="ion-float-left">{{filterLocName}}</ion-text> 
   <!-- (click)="setOpen(true)" -->
 <!-- <ion-button (click)="locationBt()"><ion-img src="../../assets/images/map-icon.svg"></ion-img></ion-button> -->
    <!-- <ion-button (click)="filterTrue()"><ion-img class="filterIcon" src="../../assets/images/filter-icon.svg"></ion-img></ion-button> -->
  </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="bgWrapp fillingListWrapp">

  <div class="clearFilterB " *ngIf="clearFilterBlock">
    <ion-button (click)="clearFilterBt()" class=" ion-float-right" color="dark" fill="solid" shape="round">Clear Filter</ion-button>
</div>

  <ng-template [ngIf]="fillingListData && fillingListData.length===0">
    <app-nodata></app-nodata>
  </ng-template>

  <ng-template [ngIf]="filteredListData && filteredListData.length===0">
    <app-nodata></app-nodata>
  </ng-template>

  <!-- [ngIf]="fillingListData && fillingListData.length>0" -->
  <ng-template [ngIf]="fillingListData && fillingListData.length>0">
    <ion-card *ngFor="let data of filteredListData ? filteredListData : fillingListData">
      <ion-card-content>
        <ion-item class="list-item ion-no-padding" >
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <div class="ion-col-border-right">
                  <ion-text>
                  <h4>{{data.truck_number}}</h4>
                  <p>Truck Number</p>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="truckTypeLeft">
                  <ion-text>
                  <h4 class="secondaryColor">{{data.truck_type}}</h4>
                  <p> Truck Type</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
  
        <div class="item-Bottom-Text">
          <div class="ion-float-left ">
            <ion-icon name="calendar-outline"></ion-icon>
            {{data.created_on | date:'dd-MM-yyyy H:mm'}}
          </div>
          <div class="ion-float-right">
            <ion-button (click)="presentActionSheet(data)" class="ion-padding-end fillBt" color="primary"  fill="solid" shape="round">Fill</ion-button>
            <ion-button (click)="setRejectionOpen(true,data.trip_id,data.truck_number)" color="secondary" fill="solid" shape="round">Reject</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>


<app-fotterbuttons></app-fotterbuttons>

<!-- Rejection Modal -->
<ion-modal [isOpen]="isRejectionModalOpen" [backdropDismiss]="false" class="rejectionModalWrapp" >
    <ng-template> 
      <ion-content class="ion-padding-no">
        <div class="ion-modal-heading fillingListWrapp">
          <ion-item class="list-item ion-no-padding" lines="none">
            <ion-avatar slot="start" class="avatar-icon">
              <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
            </ion-avatar>
            <ion-text>
              <h4>{{rejectedTrucknumber}}</h4>  
              <p>Truck Number</p>          
            </ion-text>
          </ion-item>
        </div>
     
          
        <div class="contentBlockModal">
          <div class="">
            <ion-label>Reason for Rejection</ion-label>
            <ion-item lines="none" class="textareaItem">
              <ion-textarea [(ngModel)]="rejectedNotes" aria-label="Comments" placeholder="Enter text here"></ion-textarea>
            </ion-item>
          </div>
        </div>
      </ion-content>
  
      <ion-footer>
        <ion-toolbar>         
          <ion-buttons slot="end">
            <ion-button color="medium" fill="outline" shape="round" (click)="rejectClose()">Close</ion-button>
            <ion-button color="primary" fill="outline" shape="round" (click)="reject()">Submit</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>      
    </ng-template>
</ion-modal>

<!-- location Modal <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false" class="locationModalWrapp"> -->
<ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false" class="locationModalWrapp">
  <ng-template>
    <ion-content class="ion-padding-no">
      <div class="ion-modal-heading fillingListWrapp">
        <ion-item class="list-item ion-no-padding" lines="none">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/map-icon.svg"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>Location</h4>
          </ion-text>
        </ion-item>
      </div>


      <div class="contentBlockModal">
        <div class="">
          <ion-label>Location</ion-label>
          <ion-item lines="none">
            <ion-select aria-label="Location" label="Select Location" label-placement="floating" (ionChange)="onLocationChange($event)" value="{{selectedLocId}}">
              <ion-select-option *ngFor="let data of locationData" value="{{data.id}}" >{{data.location_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="medium" fill="outline" shape="round" *ngIf="locationClose"  (click)="setOpen(false)">Close</ion-button>
          <ion-button color="primary" fill="outline" shape="round" [disabled]="!disabledLocationSubmit" (click)="locationSubmit()">Submit</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>

<!-- Filter Modal -->
<ion-modal [isOpen]="isFilterModalOpen" [backdropDismiss]="false" class="filterModalWrapp">
  <ng-template>
    <ion-content class="ion-padding-no">
      <div class="ion-modal-heading fillingListWrapp">
        <ion-item class="list-item ion-no-padding" lines="none">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>Filter</h4>
          </ion-text>
        </ion-item>
      </div>

      <form [formGroup]="filterForm" >
        <div class="contentBlockModal">
          <div class="ion-formGroup">
            <ion-label>Truck Number</ion-label>
            <ion-item lines="none">
              <ion-input formControlName="truck_number" aria-label="trucknumber" placeholder="Enter truck number"></ion-input>
            </ion-item>
          </div>
  
          <div class="ion-formGroup">
            <ion-label>Truck Type</ion-label>
            <ion-item lines="none">
              <ion-select formControlName="truck_type" aria-label="truck_type" placeholder="Select Truck Type">
                <ion-select-option *ngFor="let fdata of truckTypeListData" value="{{fdata.id}}" >{{fdata.truck_type}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
  
          <div class="ion-formGroup">
            <ion-label>Date</ion-label>
            <ion-item lines="none">
              <ion-input formControlName="date" aria-label="date" type="date" placeholder="Select Date"></ion-input>
            </ion-item>
          </div>
  
          <!-- <div class="ion-formGroup">
            <ion-label>Location</ion-label>
            <ion-item lines="none">
              <ion-select formControlName="location" aria-label="location" placeholder="Select Location">
                <ion-select-option *ngFor="let data of locationData" value="{{data.id}}">{{data.location_name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div> -->
        </div>
      </form>

    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="medium" fill="outline" shape="round" (click)="filterFalse()">Close</ion-button>
          <ion-button color="primary" fill="outline" shape="round" (click)="setFilterOpen(false)">Apply</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


 