<ion-header [translucent]="true"  class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-float-left">Filling List</ion-title>
    <app-headerbuttons></app-headerbuttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bgWrapp fillingListWrapp">
  <div class=" ">
    <ion-card>
      <ion-card-content>
        <ion-item class="list-item ion-no-padding">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
          </ion-avatar>
          <ion-grid>
            <ion-row>
              <ion-col size="7">
                <div class="ion-col-border-right">
                  <ion-text>
                  <h4>TS12345674</h4>
                  <p>Truck Number</p>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="truckTypeLeft">
                  <ion-text>
                  <h4 class="secondaryColor">3XL</h4>
                  <p> Truck Type</p>
                  </ion-text>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
  
        <div class="item-Bottom-Text">
          <div class="ion-float-left ">
            <ion-icon name="calendar-outline"></ion-icon>
            08-12-2023 11:30
          </div>
          <div class="ion-float-right">
            <ion-button [routerLink]="['/completedlist']" class="ion-padding-end" color="primary"  fill="solid" shape="round">Filling</ion-button>
            <ion-button (click)="setRejectionOpen(true)" color="secondary" fill="solid" shape="round">Reject</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


<app-fotterbuttons></app-fotterbuttons>


<ion-modal [isOpen]="isRejectionModalOpen" [backdropDismiss]="false" class="rejectionModalWrapp" >
  <ng-template> 
    <ion-content class="ion-padding-no">
      <div class="ion-modal-heading fillingListWrapp">
        <ion-item class="list-item ion-no-padding" lines="none">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/filling-truck-icon.svg"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>TS12345675</h4>  
            <p>Truck Number</p>          
          </ion-text>
        </ion-item>
      </div>
   
        
      <div class="contentBlockModal">
        <div class="">
          <ion-label>Reason for Rejection</ion-label>
          <ion-item lines="none" class="textareaItem">
            <ion-textarea aria-label="Comments" placeholder="Enter text here"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>         
        <ion-buttons slot="end">
          <ion-button color="medium" fill="outline" shape="round" (click)="setRejectionOpen(false)">Close</ion-button>
          <ion-button color="primary" fill="outline" shape="round" (click)="setRejectionOpen(false)">Submit</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>      
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false" class="locationModalWrapp">
  <ng-template>
    <ion-content class="ion-padding-no">
      <div class="ion-modal-heading fillingListWrapp">
        <ion-item class="list-item ion-no-padding" lines="none">
          <ion-avatar slot="start" class="avatar-icon">
            <ion-img src="../../assets/images/map-icon.svg"></ion-img>
          </ion-avatar>
          <ion-text>
            <h4>Location</h4>
          </ion-text>
        </ion-item>
      </div>


      <div class="contentBlockModal">
        <div class="">
          <ion-label>Location</ion-label>
          <ion-item lines="none">
            <ion-select aria-label="Location" placeholder="Select Location" (ionChange)="onLocationChange($event)" >
              <ion-select-option *ngFor="let data of locationData" value="{{data.id}}" >{{data.location_name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="medium" fill="outline" shape="round" (click)="setOpen(false)">Close</ion-button>
          <ion-button color="primary" fill="outline" shape="round" (click)="setOpen(false)">Submit</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>


 