/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: var(--ion-font-family);
}

.secondaryColor {
    color: var(--ion-color-secondary) !important;
}

.whiteBt {
    --color: #31385B;
    --background: #fff;
    letter-spacing: normal;
    text-transform: capitalize;
}

.ion-login {
    --background: url('assets/images/bglogin.png') no-repeat center left / cover;
}

.bgWrapp {
    --background: url('assets/images/bgimg.png') no-repeat center left / cover;
}

small.error-message{
    font-size: 0.7rem;
    color: #CF1E2F;
    padding-left: 10px;
    padding-top:1px;
    display: block;
}

.loginwrapp {
    width: 90%;
    margin: auto;
    margin-top: 40%;

    .logingLogo {
        width: 220px;
        margin: auto;
        margin-bottom: 30px;
    }

    ion-item {
        margin-top: 15px;
        margin-bottom: 7px;
        --background: #fff;
        border-radius: 40px;
        box-shadow: 0rem 0.4rem 0.4rem rgba(101, 147, 160, 0.37) !important;
    }

    ion-card {
        box-shadow: none;
        --background: transparent;
    }

    ion-input {
        font-size: 0.85rem;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --border-width: 0px;
        --background: transparent;
    }

    ion-button {
        font-size: 16px;
        min-height: 40px;
        display: inline;
    }

    h1 {
        font-size: 1.563rem;
        margin: 0px;
        font-weight: 500;
        color: #116E99;
        margin-bottom: 30px;
    }

    .forgotPassword {
        font-size: 0.8rem;
        color: #116E99;
        display: block;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.fillingListWrapp {
    ion-card-content{    padding: 10px;}

    p {
        font-size:0.75rem;
        color: #7B8994;
        margin: 0px;
    }

    h4 {
        font-size:0.875rem;
        font-weight: 700;
        color: #116E99;
    }

    .ion-col-border-right {
        border-right: solid 1px #D5D5D5;
    }

    .truckTypeLeft {
        padding-left: 10px;
    }

    ion-item {

        --inner-padding-end: 0px;
        --inner-padding-start: 0px;
        --background: transparent;
    }

    ion-button {
        min-height:28px;
        letter-spacing: 0.5px;
        --padding-start:0.9rem;
        --padding-end:0.9rem;
        text-transform: capitalize;
        font-size:0.65rem;
    }

    ion-avatar {
        margin-right:0px;
        background-color: #E6F0FE;
        vertical-align: middle;
        width:46px;
        height: 46px;
        display: flex;

        ion-img {
            width: 25px;
            height: 25px;
            border-radius: 0px;
            margin: auto;
            padding: 0px;
            display: block;
        }
    }

    .ion-float-left {
        padding-top: 11px;
        font-size: 0.8rem;
        display: flex;

        ion-icon {
            font-size: 1rem;
            margin-right: 2px;
        }
    }

    .item-Bottom-Text {
        padding-top: 12px;
        display: inline-block;
        width: 100%;
    }

    .ion-padding-end {
        padding-right:2px;
    }

}

ion-header {
    --background: #56A2DE;
    box-shadow: none;

    ion-back-button {
        --color: #fff;
    }

    ion-toolbar {
        --background: #56A2DE;
    }

    ion-title {
        color: #fff;
        font-size:0.938rem;
        font-weight:600;
        padding-top:8px;
    }

    ion-text {
        font-size: 0.8rem;
        color: #fff;
        margin-right: 7px;
        margin-top:9px;
    }

    ion-button {
        --border: none;
        --border-radius: 50%;
        --background: #fff;
        width:28px;
        min-height:28px;
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        margin-right: 8px;
     

        ion-img {
            width:16px;
        }

        .filterIcon {
            width: 13px;
        }
    }

    .ion-header-Right {
        padding-right: 10px;
    }
}

.ionFooter {
    box-shadow: none;
    border: none;

    ion-text {
        color: #073C51;
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px;
        display: block;
    }

    .activeFotter {
        .ionImg {
            background-color: #5EA5DD !important;

            ion-img {
                filter: invert(100%) sepia(171%) saturate(100%) hue-rotate(188deg) brightness(128%) contrast(200%);
            }
        }
    }

    .ionImg {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0rem 0.1rem 0.4rem rgb(101 147 160 / 40%) !important;
        padding: 14px 10px;
        height:60px;

        ion-img {
            width: 32px;
            height:32px;
            margin: auto;
        }



    
        .filling-truck-icon {
            width: 30px;
            height: 30px;
        }

        .profile-icon {
            width: 25px;
            height: 25px;
        }
    }

    ion-toolbar {
        --background:#fff;
        box-shadow:0rem -0.6rem 1rem rgb(101 147 160 / 31%) !important;
        border: none;
    }
}



.porfileWrapp.m-top {
    --padding-top: 29px;
}

.porfileWrapp {
    text-align: center;

    .whiteBt {
        margin-top: 20px;
    }

    ion-card {
        padding: 0px;
        margin-top: 40px;
        --background: transparent;
        box-shadow: none;
        border: none;
    }

    ion-item {
        --background: transparent;
    }

    ion-radio-group {
        display: inline-flex;
    }

    .porfileCardSapce {
        padding:51px 25px 30px 25px;
    }

    h1 {
        font-size: 1.2rem;
        color: #31385B;
        font-weight: 600;
        margin-top: 10px;
    }

    h6 {
        font-size: 0.9rem;
        color: #31385B;
        font-weight: 400;
        margin: 5px 0px 22px 0px;
    }

    h4 {
        font-size: 0.85rem;
        color: #31385B;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .changeLanguageRadio {
        margin-top: 30px;

        ion-radio-group {
            margin-top: 10px;
        }
    }

    ion-label {
        font-weight: var(--ion-font-weight-normal);
        display: inherit !important;
        font-size: 14px !important;
    }

    ion-radio {
        margin-left: 6px;
    }

    .logoutBlock {
        margin: auto;
        display: block;

        ion-button {
            font-size: 1rem;
            --padding-start:25px;
            --padding-end:25px;
            --padding-top:9px;
            --padding-bottom:9px;
           
            font-weight: 600;
            text-transform: capitalize;
        }

        ion-icon {
            margin-right: 6px;
        }

    }

    .porfileUserblock {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        margin: 0;
        width: 145px;
        display: block;
        margin: auto;
    
        .porfilePosition {
            position: relative;
    
            .editBt {
                position: absolute;
                top: 4px;
                right: 16px;
                --background: #C7EDFE;
                --border-radius: 50%;
                width: 32px;
                min-height: 32px;
                --padding-start: 0px;
                --padding-end: 0px;
                --padding-top: 0px;
                --padding-bottom: 0px;
    
                ion-img {
                    width: 18px;
                }
            }
        }
    
        .personIcon {
            border-radius: 50%;
            padding:19px;
            border: 3px solid #F1F6FD;
            font-size: 41px;
            background: #fff;
            color: #616787;
        }
    
    }
}




.detailsCardBlock {
    border-top: solid 1px #D5D5D5;
    padding-top: 20px;

    h6 {
        font-weight: 400;
        font-size: 0.9rem;
        color: #7B8994;
        padding-bottom: 2px;
    }

    h4 {
        font-weight:500;
        font-size:0.9rem;
        color: #116E99;
        line-height: 22px;
    }

    ion-item {
        margin-bottom: 18px;
    }
}

.rejectionModalWrapp{
    --height:60%;
    --min-height:60%;
    --max-height:60%;
  }
ion-modal {
    align-items: end;
    --border-radius: 10px;
    bottom: -10px;

    .ion-modal-heading {
        border-bottom: solid 1px #EDEDED;

        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top:7px;
        padding-bottom: 5px;

        h4 {
            font-size: 1rem;
            margin: 0px;
            padding: 0px;
        }

        ion-avatar {
            margin-right: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 38px;
            height: 38px;

            ion-img {
                width: 16px;
                height: 16px;
            }
        }

    }

    .ion-formGroup {
        margin-bottom: 15px;
    }

    .contentBlockModal {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;

        ion-label {
            font-size: 0.7rem;
            color: #7B8994;
            margin-left: 7px;
        }

        ion-item {
            margin-top: 2px;
            --background: #fff;
            border-radius: 40px;
            box-shadow: 0rem 0rem 0.6rem rgb(101 147 160 / 8%) !important;
            border: solid 1px #dddcdc;
        }

        ion-input {
            font-size: 0.85rem;
            --padding-start: 10px !important;
            --padding-end: 10px !important;
            --border-width: 0px;
            --background: transparent;
        }

        ion-select {
            font-size: 0.85rem;
            --padding-start: 10px !important;
            --padding-end: 10px !important;
            --border-width: 0px;
            --background: transparent;
        }

        .textareaItem{
            border-radius:10px;
        }
    }

    ion-footer {
        ion-toolbar {
            padding-right: 15px;
            padding-left: 15px;
            --background: #E9F8FF;
            --min-height: 70px;

            ion-buttons {
                margin-bottom: 8px;

                ion-button {
                    font-weight: 500 !important;
                    --padding-start: 25px !important;
                    --padding-end: 25px !important;
                    margin-left: 15px !important;
                }
            }
        }
    }
}